
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <link rel="Stylesheet" href="~/Content/mycss/AdminIndex.css" type="text/css" />
   
</head>
<body>
    <nav class="shift navbar" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img alt="Trulli" src="~/Content/Imagenes/logoEmpresa.png">
        </div>
        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"  my-2 my-sm-0><a>@Html.ActionLink("Listar Clientes", "Index", "usuarios")</a></li>
                <li><a>@Html.ActionLink("Gestionar Parque", "IndexAdmin", "parques")</a></li>
                <li><a>@Html.ActionLink("Gestionar Planes", "IndexAdmin", "planes")</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Reporte  <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>@Html.ActionLink("Plan Favorito", "IndexAdmin", "planes")</a></li>
                        <li><a>@Html.ActionLink("Obituario del año", "ObituarioYear", "fallecidoes")</a></li>
                    </ul>
                </li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right">
                <li class="contBoton">@Html.ActionLink("Cerrar Sesión", "Logout", "Login")</li>
            </ul>
        </div>
    </nav>

    <!--Bar -->
    
    <div class="contRender">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

    </script>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2018</p>
        </footer>
    </div>
</body>
</html>

