@model FunerariaMuertoFeliz.Models.usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipousuario.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipousuario.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idusuario }, new {@class="btn"}) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
