@model IEnumerable<FunerariaMuertoFeliz.Models.usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="contUsuarios">
    <h2>Lista de usuarios</h2>

    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido Paterno")
            </th>
            <th>
                @Html.DisplayName("Apellido Materno")
            </th>
            <th>
                @Html.DisplayName("Correo")
            </th>
            <th>
                @Html.DisplayName("Teléfono")
            </th>


            <th>
                @Html.DisplayName("Tipo Usuario")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tipousuario.tipo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idusuario }, new { @class = "btnEditar btn" })
                </td>
            </tr>
        }

    </table>
</div>