@model IEnumerable<FunerariaMuertoFeliz.Models.boleta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFuneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boleta1.idboleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boleta2.idboleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fallecido.rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parque.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.planes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFuneral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boleta1.idboleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boleta2.idboleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fallecido.rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parque.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.planes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idboleta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idboleta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idboleta })
        </td>
    </tr>
}

</table>
