@model IEnumerable<FunerariaMuertoFeliz.Models.parque>

@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Gestion de Parque</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Dirección")
        </th>
        <th>
            @Html.DisplayName("Horario")
        </th>
        <th>
            @Html.DisplayName("Telefono")
        </th>
        <th>
            @Html.DisplayName("Nombre de Región")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.horario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.region.nombre)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.idparque }, new { @class = "btnEditar btn" })
    </td>

    <td>
        @Html.ActionLink("Eliminar", "Delete", new { id = item.idparque }, new { @class = "btnEliminar btn" })
    </td>
</tr>
}

</table>
